In [37]:
import pandas as pd
"""
Right now we are downloading data from 
https://fragilestatesindex.org/
Then processing it for move up to red
We need to automate this process for use in our new green to red pipeline(WIP)
On a monthly basis we need to do a data pull and get any new data
If we put it in a dash app we can use POSIT CONNECT to keep the script persisting
"""
df = pd.read_excel("Rankings.xlsx")

cols = []
for col in df.columns:
    if "Unnamed" in col:
        cols.append(df[col].iloc[0])
    else:
        cols.append(col)
        
df.columns = cols
df = df[1:]

df = df[["Country", "Total"]]
df.columns = ["Country", "Total"]
df["Year"] = 2024

In [38]:
df

                       Country  Total  Year
1                      Somalia  111.3  2024
2                        Sudan  109.3  2024
3                  South Sudan  109.0  2024
4                        Syria  108.1  2024
5    Congo Democratic Republic  106.7  2024
..                         ...    ...   ...
175                    Denmark   15.9  2024
176                New Zealand   15.9  2024
177                    Iceland   15.2  2024
178                    Finland   14.3  2024
179                     Norway   12.7  2024

[179 rows x 3 columns]

In [39]:
df.to_excel("FSI_output.xlsx")

In [40]:
import dash
from dash import Dash, dcc, html, Input, Output
import matplotlib.pyplot as plt
import plotly.express as px
import requests

In [41]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

# Path to your ChromeDriver
# Set up the Selenium WebDriver
options = webdriver.ChromeOptions()
options.add_argument("--headless")  # Optional: run in headless mode
driver = webdriver.Chrome(options=options)

url = "https://fragilestatesindex.org/excel/"
driver.get(url)

# Wait for the page to load (adjust time if necessary)
driver.implicitly_wait(10)

# Extract links
links = set()
for link in driver.find_elements(By.TAG_NAME, "a"):
    href = link.get_attribute("href")
    if href and (".xlsx" in href or ".xls" in href):
        links.add(href)

print("Excel Links Found:", links)

driver.quit()

Excel Links Found: {'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2007.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2015.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/2020/05/fsi-2020.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2012.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/2018/04/fsi-2018.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2017.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2008.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/2019/04/fsi-2019.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2006.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2016.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2014.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/2022/07/fsi-2022-download.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2009.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2011.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2013.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/2023/06/FSI-2023-DOWNLOAD.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/2021/05/fsi-2021.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2010.xlsx'}

In [42]:
from selenium import webdriver
from selenium.webdriver.common.by import By

# Set up the Selenium WebDriver
options = webdriver.ChromeOptions()
options.add_argument("--headless")  # Optional: run in headless mode
driver = webdriver.Chrome(options=options)

# Access the website
driver.get("https://fragilestatesindex.org/excel")

# Extract data
links = driver.find_elements(By.XPATH, "//a[contains(@href, 'https://fragilestatesindex.org/wp-content/uploads/')]")
links_set = set()

for link in links:
    links_set.add(link.get_attribute("href"))

print(links_set)
driver.quit()

{'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2007.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2015.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/2020/05/fsi-2020.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2012.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/2018/04/fsi-2018.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2017.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2008.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/2019/04/fsi-2019.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2006.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2016.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2014.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/2022/07/fsi-2022-download.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2009.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2011.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2013.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/2023/06/FSI-2023-DOWNLOAD.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/2021/05/fsi-2021.xlsx', 'https://fragilestatesindex.org/wp-content/uploads/data/fsi-2010.xlsx'}

In [43]:
from io import BytesIO

scraped_df = pd.DataFrame()

# Define headers to mimic a browser
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

columns_to_keep = ["Country", "Year", "Total"]

# Loop through each link, download the file, and read it
for link in links_set:
    try:
        # Send GET request with headers
        response = requests.get(link, headers=headers)
        response.raise_for_status()  # Raise an error for bad status codes
        
        # Read the Excel file into a DataFrame
        df = pd.read_excel(BytesIO(response.content), usecols=columns_to_keep)
        
        # Append the data to the combined DataFrame
        scraped_df = pd.concat([scraped_df, df], ignore_index=True)
    except Exception as e:
        print(f"Failed to process {link}: {e}")

#Modify Year to represent an Integer
scraped_df['Year'] = scraped_df['Year'].astype(str).str[:4].astype(int)

#Read FSI output that contains data for 2004
df1 = pd.read_excel("FSI_output.xlsx")
df1_filtered = df1[columns_to_keep]

#Concat scraped dataframe and data read from Rankings
df_combined = pd.concat([scraped_df, df1_filtered], ignore_index=True).reset_index(drop=True)

# Sort data by year
df_combined = df_combined.sort_values(by='Year')

#Write into a new xlsx
df_combined.to_excel("FSI_Combined.xlsx")

# Display the combined DataFrame
df_combined

                        Country  Year  Total
1439                    Myanmar  2006   96.5
1422                      Sudan  2006  112.3
1423  Congo Democratic Republic  2006  110.1
1455                      Syria  2006   88.6
1424              Cote d'Ivoire  2006  109.2
...                         ...   ...    ...
3318                      Qatar  2024   39.8
3348                     Norway  2024   12.7
3317             United Kingdom  2024   40.8
3316                      Italy  2024   41.1
3334                  Singapore  2024   25.4

[3349 rows x 3 columns]

In [44]:
app = dash.Dash(__name__)

app.layout = html.Div([

    html.Label("Select Country:"),
    dcc.Dropdown(
        id='country-dropdown',
        options=[{'label': country, 'value': country} for country in df_combined['Country'].unique()],
        value='United States',  # Default value
        placeholder="Select a country"
    ),
    
    html.Div([
        dcc.Graph(id='line-chart'),
        dcc.Graph(id='country-graph')
    ])
])

# Callback to update the graph based on selected country
@app.callback(
    Output('line-chart', 'figure'),
    Input('country-dropdown', 'value')
)
def update_chart(selected_country):
    # Filter data by selected country
    filtered_df = df_combined[df_combined['Country'] == selected_country]
    # Create the line chart
    fig1 = px.line(filtered_df, x='Year', y='Total', title=f'Total by Year for {selected_country}')
    return fig1

In [45]:
import plotly.graph_objects as go



# Callback to update the graph based on selected country
@app.callback(
    Output('country-graph', 'figure'),
    Input('country-dropdown', 'value')
)
def update_graph(selected_country):

    df = pd.read_excel("FSI_Combined.xlsx")
    
    # Filter data for the selected country
    country_data = df[df['Country'] == selected_country].sort_values('Year')
    
    # Extract years and totals
    years = country_data['Year'].values
    totals = country_data['Total'].values
    
    # Calculate yearly changes
    yearly_changes = [totals[i] - totals[i-1] for i in range(1, len(totals))]
    change_years = years[1:]  # Years corresponding to changes
    
    # Create bar colors: green for negative (improvement), red for positive
    bar_colors = ['green' if change < 0 else 'red' for change in yearly_changes]
    
    # Create the figure
    fig2 = go.Figure()
    
    # Add bars for yearly changes
    fig2.add_trace(go.Bar(
        x=change_years,
        y=yearly_changes,
        marker_color=bar_colors,
        name='Yearly Changes'
    ))
    
    # Update layout
    fig2.update_layout(
        title=f"Net Change in Totals for {selected_country}",
        xaxis_title="Year",
        yaxis_title="Change in Total",
        legend=dict(orientation="h", yanchor="bottom", y=1.02, xanchor="right", x=1),
        template='plotly_white'
    )
    
    return fig2

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)